body {
  margin : 0;

  font-family: 'Libre+Baskerville', serif;
}
#header {

 background-color: red ;
 font-family: 'Orbitron', sans-serif;
 height: 30px;
 padding-top: 8px;
 padding-left: 12px;
 color:white;
 margin-bottom: 0;
 padding-bottom: 0px;

}


#about {

padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
  height: 490px;
  color: white;
  background-image: url('http://kingofwallpapers.com/dark-wallpaper/dark-wallpaper-017.jpg');


}

#about p{
    margin-top: 0;


}

img {
    width: 220px;
    height: 220px;
    float: left;
    padding-left: 0;
    margin-right: 30px;
}

#proj {
  margin-top: 0;
  padding-top: 30px;
  padding-left: 40px;
  color: white;
  height: 700px;
  background-image: url('https://images.alphacoders.com/645/thumb-1920-64553.jpg');
}


.boldText {
  margin-top: 0;
  padding-top: 0;
  padding-left: 30px;
  color: red;
  font-weight: bolder;
}

 a,a:visited {
  color: white;
  text-decoration: none;
}

a:hover {

    color: #7C7164;
}

#header a:hover {
  color: black;
}

#skill{
  color: white;
  padding-top: 0;
  margin-top: 0;
  padding-left: 30px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 33px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.skill-li {
  color: #DFEC05  ;
  font-size: 28px;
  padding-left: 40px;
}
span {
  color:yellow;
}

#info {
  margin-top: 0;

  padding-left: 0;
  margin-bottom: 5px;
  padding-right: 20px;
}
